---
Checks: >
  readability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -readability-math-missing-parentheses,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length
ExcludeHeaderFilterRegex: "^third_party/"
