Diagnostics:
  UnusedIncludes: Strict

CompileFlags:
  CompilationDatabase: build

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true

---
If:
  PathMatch: third_party/.*

Index:
  Background: Skip

Diagnostics:
  Suppress: "*"

---
If:
  PathMatch: .*\.metal

# remove certain pointer-related checks for metal files
Diagnostics:
  ClangTidy:
    Remove:
      - misc-use-internal-linkage
      - cppcoreguidelines-pro-bounds-pointer-arithmetic
      - cppcoreguidelines-pro-type-member-init


# --- metal-lsp:begin ---
---
If:
  PathMatch: .*\.metal

CompileFlags:
  Add:
    - -xc++
    - -std=c++17
    - -Wno-unknown-attributes
    - -Wno-reserved-user-defined-literal
    - -isystem
    - /Users/eric/.vscode/extensions/rayanhtt.metal-lsp-1.4.1-local/stubs
    - -include
    - /Users/eric/.vscode/extensions/rayanhtt.metal-lsp-1.4.1-local/headers/metal_compat.h
    - -I
    - /Users/eric/dev/particle
# --- metal-lsp:end ---
