Diagnostics:
  UnusedIncludes: Strict

CompileFlags:
  CompilationDatabase: build

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true
---
If:
  PathMatch: third_party/.*

Index:
  Background: Skip

Diagnostics:
  Suppress: '*'
